<form nz-form [formGroup]="formSearch" (ngSubmit)="search()">
  <div>
    <div class="search-group">
      <div class="search-page-left">
        <button
          nz-button
          nzType="primary"
          type="button"
          (click)="doOpenForm(Mode.ADD)"
        >
          Thêm mới
        </button>
      </div>
      <div class="search-page-right">
        <input
          nz-input
          nzSize="large"
          placeholder="Từ khóa"
          formControlName="keySearch"
        >
      </div>
    </div>
    <div>
      <nz-table #basicTable [nzData]="listData">
        <thead>
        <tr style="text-align: center">
          <th>Tên người dùng</th>
          <th>Email</th>
          <th>MSSV</th>
          <th>Số điện thoại</th>
          <th>Vai trò</th>
          <th>Ngày sinh</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.mssv }}</td>
          <td>{{ data.phone_number }}</td>
          <td>{{ data.role }}</td>
          <td>{{ data.birth }}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</form>
