  <form nz-form [formGroup]="formSearch" (ngSubmit)="search()">
  <div>
    <div class="search-group">
      <div class="search-page-left">
        <button
          nz-button
          nzType="primary"
          type="button"
          (click)="doOpenForm(Mode.ADD)"
        >
          Thêm mới
        </button>
      </div>
      <div class="search-page-right">
        <input
          nz-input
          nzSize="large"
          placeholder="Từ khóa"
          formControlName="keySearch"
        >
      </div>
    </div>
    <div>
      <nz-table #basicTable [nzData]="listData">
        <thead>
        <tr style="text-align: center">
          <th>Tên người dùng</th>
          <th>Email</th>
          <th>MSSV</th>
          <th>Số điện thoại</th>
          <th>Vai trò</th>
          <th>Ngày sinh</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.mssv }}</td>
          <td>{{ data.phone_number }}</td>
          <td>{{ data.role }}</td>
          <td>{{ data.birth }}</td>
          <td>
            <div class="icon-group">
              <a>
                <span nz-icon nzType="eye" nzTheme="outline" (click)="doOpenFormDetail(data)"></span>
              </a>
              <a>
                <span nz-icon nzType="setting" nzTheme="fill" (click)="doOpenFormEdit(data)"></span>
              </a>
              <a>
                <span nz-icon nzType="delete" nzTheme="outline" (click)="deleteItem(data?.id)"></span>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</form>

<ng-template #footerTmpl>
  <button
    nz-button
    nzType="default"
    (click)="modalRef.destroy()">
    Đóng
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="modalRef.getContentComponent().save()">
    Lưu
  </button>
</ng-template>

