.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nz-layout {
  min-height: 100%;
}

/* Positioning the trigger button to the top-right */
.sider-trigger {
  position: absolute;
  top: 10px;
  right: -40px;
  z-index: 1;
}

.trigger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
