<nz-layout>
  <nz-sider nzCollapsible
            [nzCollapsed]="isCollapsed"
            nzWidth="200px"
            nzBreakpoint="lg"
            [nzCollapsedWidth]="50"
            (nzCollapsedChange)="triggerCollapse()"
  >

    <div class="sider-trigger">
      <button nz-button (click)="triggerCollapse()" class="trigger-btn">
        <span style="font-size: 150%" nz-icon nzType="menu-fold" *ngIf="!isCollapsed" nzTheme="outline"></span>
        <span style="font-size: 150%" nz-icon nzType="menu-unfold" *ngIf="isCollapsed" nzTheme="outline"></span>
      </button>
    </div>

    <div class="logo">
      <span nz-icon nzType="ant-cloud" nzTheme="outline"
            [style]="isCollapsed ? 'font-size:20px' : 'font-size:40px'"></span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Quản trị" nzIcon="project">
        <ul>
          <li (click)="navigateAdmin()" nz-menu-item>Danh sách người dùng</li>
        </ul>
        <ul>
          <li (click)="navigateResearchField()" nz-menu-item>Danh sách lĩnh vực</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Thư viện đồ án" nzIcon="project">
        <ul>
          <li (click)="navigateHome()" nz-menu-item>Danh sách đồ án</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let crumb of breadcrumbs">
          <a [routerLink]="crumb.path">{{ crumb.label | titlecase }}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
