<div>
  <div class="search-group">
    <div class="search-page-left">
      <button
        nz-button
        nzType="primary"
        (click)="doOpenForm(Mode.ADD)"
      >
        Thêm mới
      </button>
    </div>
    <div class="search-page-right">
      <input
        nz-input
        nzSize="large"
        placeholder="Từ khóa"
      >
    </div>
  </div>
  <nz-row [nzGutter]="16">
    <nz-col *ngFor="let project of listProjects" [nzLg]="8" [nzMd]="12" [nzXs]="24" class="card-item" >
      <ng-template #extraTemplate>
        <div class="icon-group">
          <a>
            <span nz-icon nzType="eye" nzTheme="outline" (click)="doOpenFormDetail(project)"></span>
          </a>
          <a>
            <span nz-icon nzType="setting" nzTheme="fill" (click)="doOpenFormEdit(project)" ></span>
          </a>
          <a>
            <span nz-icon nzType="star" nzTheme="outline"></span>
          </a>
          <a>
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </a>
        </div>

      </ng-template>

      <nz-card [nzTitle]="project.name" [nzCover]="project.image" [nzExtra]="extraTemplate">
        <p>{{ project.summary }}</p>
        <p><strong>Start Date:</strong> {{ project.start_date }}</p>
        <p><strong>End Date:</strong> {{ project.end_date }}</p>
      </nz-card>
    </nz-col>
  </nz-row>

  <nz-pagination [nzPageIndex]="1" [nzTotal]="50" class="pagination"></nz-pagination>
</div>


<ng-template #footerTmpl>
  <button
    nz-button
    nzType="default"
    (click)="modalRef.destroy()">
    Đóng
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="modalRef.getContentComponent().save()">
    Lưu
  </button>
</ng-template>





