<div class='form'>
  <form nz-form [formGroup]="form" style="margin-top: 20px">
    <div nz-row [nzGutter]='[20,15]'>
      <div nz-col [nzLg]="12" [nzXs]="12">
        <h5 nz-typography [innerHTML]="getLabelForm('Tên lĩnh vực', true)"></h5>
        <input
          type="text"
          placeholder="Tên lĩnh vực"
          nz-input
          formControlName="name"
          [ngClass]="{'error': isSubmitted && f['name'].errors}"
        />
        <div *ngIf="isSubmitted && f['name'].errors">
          <div *ngIf="f['name'].errors?.required" style="color: red; margin-top: 5px">
            *Tên lĩnh vực bắt buộc nhập
          </div>
        </div>
      </div>
      <div nz-col [nzLg]="24" [nzXs]="24">
        <h5 nz-typography [innerHTML]="getLabelForm('Ghi chú', false)"></h5>
        <textarea
          [rows]="2"
          nz-input
          formControlName="description"
          [ngClass]="{'error': isSubmitted && f['description'].errors}"
        >
        </textarea>
      </div>

    </div>
  </form>
</div>
